{% extends 'base.html' %}
{% load pybo_filter %}
{% block content %}

<body>
   <style>
      html {
         line-height: 1.15;
         font-size: 1rem;
         font-family: 'Noto Sans KR';
      }




      .wrapper {
         width: 100%;
         height: 100%;
      }




      .container {
         margin: 0 auto;

         max-width: 1400px;
         min-width: 1400px;

         border: 2px solid red;
         background: coral;
      }








      /*
이걸 1200으로 하면 반갈죽을 포기해야한다..맞나?
 */



      .card_list_box {

         /* background: gold; */
         /* min-width: 1400px; */
         /* width: 100%; */
         /* VAR-READY */

         display: flex;
         flex-direction: row;
         flex-wrap: wrap;
         justify-content: space-between;
         min-height: 500px;

      }


      .card_list_box:after {
         content: "";
         flex-grow: 1;
      }



      .card {
         background: green;
         border: 1px solid purple;

         width: 224px;
         margin-right: 10.4px;


         margin-bottom: 10px;
         /* height: 150px; */
         height: 285px;

      }

      .card:nth-child(6n) {
         margin-right: 0;
         background: blue;
      }

      .card a {
         width: 100%;
         height: 100%;
         background: red;
      }


      img.card_img {
         width: 100%;
      }

      .card_title {
         padding: 10px 0;
      }





      /* 미리 준비.. 1200으로 */
      @media screen and (max-width: 1400px) {
         .container {

            min-width: 940px;
            max-width: 940px;
            background: cyan;

         }

         .card {
            width: 180px;
            margin-right: 8.2px;
         }

         .card:nth-child(6n) {
            margin-right: 8.2px;
            background: yellow;
         }

         .card:nth-child(5n) {
            margin-right: 0;
            background: blue;
         }



      }







      @media screen and (max-width: 500px) {

         .container {
            min-width: 100%;
            max-width: 100%;
            background: yellow;

         }

         .card_list_box {
            padding: 0 5px;
         }

         .card {
            width: 50%;
            height: inherit;
            padding: 5px 5px 15px 5px;
         }

         .card,
         .card:nth-child(5n),
         .card:nth-child(6n) {
            margin-right: inherit;
         }

      }









      .filter_box{
         display: inline-flex;
      }

      .filter_box label{
         vertical-align: middle;
         line-height: 38px;
      }

      .filter_checkbox{
         height: 40px;
         user-select: none;
         margin-left: 30px;
         margin-right: 5px;
      }



      .empty_box{
         width: 100%;
      }

      .loading_box{
         display: none;
         text-align: center;
      }
      .loading_box img{
         width: 100px;
      }


      .container.main{
         min-height: 800px;
      }

   </style>
   <div class="wrapper">
      <div class="container">top</div>

      <div class="container">banner /
         <a href="http://127.0.0.1:8000/campaign/">캠패인보기</a>
      </div>


      <div class="container">


   {{request.GET.search|default_if_none:''}}


         <div class="search_box">
               <input type="text" id="search_input" name="search_input"
               value="{% if request.GET.search %}{{request.GET.search}}{% endif %}">
               <button id="search_btn">검색</button>
         </div>

         <div class="filter_box">
         {% for category in category_list %}
            <input type="checkbox"
            {% if category.eng_name in request.GET.category %}checked="checked"{% endif %}
            id="ca_{{category}}" name="{{category}}" value="{{category}}" class="filter_checkbox" data-type="category">
            <label for="ca_{{category}}">{{category.kor_name}}</label><br>
         {% endfor %}
         </div>
         <hr>
         <div class="filter_box">
            {% for channel in channel_list %}
               <input type="checkbox"
               {% if channel.eng_name in request.GET.channel %}checked="checked"{% endif %}
               id="ch_{{channel}}" name="{{channel}}" value="{{channel}}" class="filter_checkbox" data-type="channel">
               <label for="ch_{{channel}}">{{channel.kor_name}}</label><br>
            {% endfor %}
         </div>


      </div>




      <div class="container main">
         <!-- <a href="{% url 'lg:campaign_view' %}">TESTER</a> -->
         <!-- <a href="{% url 'lg:campaign_view' %}">TESTER</a> -->
         <ul class="card_list_box"></ul>
         <div class='loading_box'>
            <img src="{% static 'img/loading.gif' %}" alt="">
         </div>
      </div>



   </div>




</body>
{% endblock %}
{% block script %}

<script>


setTimeout(function(){
   //console.log("lolcoms");/
   //$("#cafe").trigger('click')
   // $("#search_btn").trigger('click')
}, 100);






var timer;
$('#search_btn').click(function(e){
   if (timer) { clearTimeout(timer); }
   timer = setTimeout(function() {

      var param_title = "search";
      const url_params = new URLSearchParams(window.location.search);
      var search_keyword = $.trim($('#search_input').val()).replace(/ +(?= )/g,'');

      if(search_keyword){

         url_params.set(param_title, search_keyword);
         new_url_var = "?"+ decodeURIComponent(url_params)

      } else {

         url_params.delete(param_title);
         new_url_var = "?"+ decodeURIComponent(url_params)

         var url_key_length = Array.from(url_params).length
         if(!url_key_length){
            new_url_var = "/"
         }
      }

      window.history.replaceState("", "", new_url_var )

      inflist.startList();

      $('#search_input').focus()
   }, 200);
})




$('#search_input').keypress(function(e){
     if(e.which == 13){
         $('#search_btn').click();
     }
 });










$('.filter_checkbox').change(function(e){



   const url_params = new URLSearchParams(window.location.search);
   var param_type = $(this).data('type')
   var checked_val = $(this).val()
   var status = this.checked
   var new_url_var


   if(status == true){

      // key= 있는지 확인 후 추가
        if( !url_params.has(param_type) ){
         url_params.append(param_type,'')
      }

      //현재 선택한 값을 넣기 위해 url_params를 array화
      var cur_params_array = url_params.get(param_type).split(",");


      // split으로 생겨난 빈칸 삭제
      var cur_params_array = cur_params_array.filter(function (e) {
         return e != "";
      });



      //현재 선택한 값을 array에 삽입
      cur_params_array.push(checked_val);


      // 혹시 모를 중복삭제
      cur_params_array = cur_params_array.filter(function(item, pos) {
          return cur_params_array.indexOf(item) == pos;
      })

      //url에 넣기위해 array를 comma-separate로 변환
      var new_params = cur_params_array.join(',');

      // urlSearch에 장착
      url_params.set(param_type, new_params);
      new_url_var = "?"+ decodeURIComponent(url_params)


   } else if (status == false){


      var cur_params_array = url_params.get(param_type).split(",");
      var new_params_array = removeItem(cur_params_array, checked_val);
      var new_params = new_params_array.join(',');


      if(cur_params_array.length){

         // value= 값이 아직 남아있으므로 value= 유지
         url_params.set(param_type, new_params);
         new_url_var = "?"+ decodeURIComponent(url_params)

      } else {

         // value=값이 없으므로 value= 까지 삭제
         url_params.delete(param_type);
         new_url_var = "?"+ decodeURIComponent(url_params)

            //param이 전부없으면 물음표까지 삭제
            var url_key_length = Array.from(url_params).length
            if(!url_key_length){
               new_url_var = "/"
            }

      }
   }


   // TODO ) B문제 때문에 추가함. replaceState로 해야 history에서 제외됨
   window.history.replaceState("", "", new_url_var )

   inflist.startList();

})












$( function() {

   inflist.init();

});


   var inflist = {

      param: {
         cur_page: 1,
         last_page:"",
      },

      init: function () {
         this.initCheckingEndScroll();
         this.startList()
      },

      startList(){
         // console.log('<<START_LIST_WORKS>>');
         this.param.cur_page = 1;
         this.param.last_page = "";
         this.clearList()
         this.generateList()
      },

      clearList: function () {
         $('.card_list_box').empty()
      },

      initCheckingEndScroll: function () {
         var root = this;
         window.addEventListener('scroll', function(){
            root.checkingEndScroll(root)
         });
      },

      checkingEndScroll : function(root){
         var timer;
         if (timer) { clearTimeout(timer); }
         timer = setTimeout(function () {
            if ($(window).scrollTop() + 200 >= $(document).height() - $(window).height()) {
               // console.log('scroll / current page :: ', root.param.cur_page);
               // console.log('scroll / last page :: ', root.param.last_page);
               if (root.param.cur_page < root.param.last_page) {
                  root.param.cur_page++;
                  root.generateList()
               }
            }

         }, 200);
      },


      generateList: function () {
         var root = this;

         // console.log('AJAX TEST WORKS');

         // url param 체크 후 있을경우 array화 해줌
         var urlParams = new URLSearchParams(window.location.search);

         var filter_space = {};
         allowed_filters = ['category','channel']
         allowed_filters.forEach(function(filter){
            if(urlParams.get(filter)){
               filter_space[filter] = urlParams.get(filter).split(',')
            }
         })


         // 검색어 처리
         var search = urlParams.get('search')

         $.ajax({
            type: 'GET',
            url: "api/campaign_list/",
            data: {
               // csrfmiddlewaretoken: window.CSRF_TOKEN,
               category: filter_space['category'],
               channel:filter_space['channel'],
               search : search,
               page: root.param.cur_page
            },

            success: function (res) {

               // console.log('------------------>');
               // console.log("ajax / Data from ", res.data);
               // console.log('ajax / Last page from ', res.last_page);

               if( Object.keys(res.data).length > 0 ){
                  if(root.param.cur_page == 1){
                     // 첫 페이지에서 마지막장 세팅
                     root.param.last_page = res.last_page;
                  }
                  root.insertList(res.data)

               } else {
                  $('.card_list_box').append("<div class='empty_box'>EMPTY</div>")
               }

            },
            beforeSend: function(){
               $('.loading_box').show();
            },
            complete: function(){
               $('.loading_box').hide();
            },

            error: function(jqXHR, textStatus, error){
               console.log(jqXHR.responseText);
               console.log(textStatus);
               console.log(error);
            }
         })
      },

      insertList: function(data){
         var div_list = "";
         $.each(data, function (i, item) {
            var div = `
               <li class='card'>
                  <a href="{% url 'lg:campaign_view' %}">
                     <div class='card_img_box'>
                     </div>
                     <div class='card_title'>${item.channel__eng_name} - ${item.title} ${item.category__eng_name}</div>
                     <div class='card_subtitle'>${item.subtitle} <br> ${item.created_time}</div>
                  </a>
               </li>
               `
            div_list += div;
         });
         $('.card_list_box').append(div_list)

      }



   }













































function removeItem(arr) {
       var what, a = arguments, L = a.length, ax;
       while (L > 1 && arr.length) {
           what = a[--L];
           while ((ax= arr.indexOf(what)) !== -1) {
               arr.splice(ax, 1);
           }
       }
       return arr;
   }



</script>
{% endblock script %}